.nb-spinner {
    position: fixed;
    top: calc(50% - 38px);
    left: calc(50% - 38px);
    z-index: 99;
    width: 76px;
    height: 76px;
    margin: 0;
    background: transparent;
    border-top: 6px solid rgb(95, 158, 160);
    border-right: 6px solid transparent;
    border-radius: 50%;
    -webkit-animation: 1s spin linear infinite;
    animation: 1s spin linear infinite;
}

.nb-spinner.not-displayed {
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
