*{
    box-sizing: border-box;
    margin: 0px;
}

html {
    background-color: #131314;
    background-image: url('/Views/Images/background.jpg');
    background-repeat: repeat;
    background-size: 100%;
    background-position: left 168px;
    font-size: 16px;
    font-family: Calibri;
}

button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button, button:focus, button:active {
    outline: none;
}

.menuNavBar {
    z-index: 100;
    position: fixed;
    background-color: #131314;
    overflow: hidden;
    width: 100%;
    top: 0;
}

.menuNavBar a {
    display: block;
    float: left;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: cursive;
}

.menuNavBar .icon {
    display: none;
}

.menuNavBar a:hover {
    background-color: cadetblue;
    color:black;
}

.menuNavBar a.active {
    background-color: black;
    color: cadetblue;
}

.menuIMG {
    position: relative;
    margin-top: 68px;
    width: 100%;
    background-color: #131314;
    line-height: 0;
}

#ikona {
    background-color: cadetblue;
    width: 150px;
    height: 100px;
}

#nazov {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    object-fit: contain;
    width: 200px;
    height: 100px;
    background-color: #131314;
}

.mainPart {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.backgroundPart {
    background-color: rgba(255,255,255,0.8);
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    border-radius: 1rem;
    margin-top: 1rem;
    max-width: 1200px;
    width: calc(100% - 30px);
    padding: 2.4rem 2rem
}

.backgroundPart nadpis {
    text-align: center;
}

.film-info {
    position: relative;
    display: flex;
    margin: 0 0 0.4rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.film-info .name {
    width: 50%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
.film-info .year {
    min-width: 60px;
    width: 20%;
}
.film-info .category {
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.film-list {
    border-radius: 0.8rem;
    overflow: hidden;
    margin: 0;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.film-list .film-item {
    display: flex;
    padding: 1rem 0.5rem;
    font-size: 1.1rem;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s;
    text-shadow: 0 0 5px white;
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    color: black;
}

.film-list .film-item:hover {
    background-color: rgba(95, 158, 160, 0.4) !important;
}

.film-list .film-item:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.4);
}


.film-list .film-item:last-child {
    border-bottom: none;
}

.film-list .film-item .name {
    width: 50%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
.film-list .film-item .year {
    min-width: 60px;
    width: 20%;
}
.film-list .film-item .category {
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 800px) {
    .menuNavBar a:not(:first-child) {
        display: none;
    }

    .menuNavBar a.icon {
        float: right;
        display: block;
    }

    .menuNavBar.responsive {
        position: relative;
    }

    .menuNavBar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .menuNavBar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    #ikona {
        visibility: hidden;
    }

    .backgroundPart {
        margin-left: 50px;
        margin-right: 50px;
        padding: 2rem 1rem;
    }

    .menuIMG.responsive {
        margin-top: 0;
    }

    .film-list {
        border-radius: 0.8rem;
        overflow: hidden;
        margin: 0;
        border: 2px solid white;
    }

}

@media screen and (max-width: 400px) {

    .backgroundPart {
        margin-left: 15px;
        margin-right: 15px;
    }

}