.notification {
    position: fixed;
    top: 6rem;
    right: 2rem;
    width: 400px;
    max-width: calc(100% - 4rem);
    background-color: whitesmoke;
    box-shadow: 2px 2px 10px black;
    border-radius: 0.5rem;
    color: black;
    z-index: 99;
    padding: 1.5rem 2rem;
    display: flex;
}

.notification > i {
    position: relative;
    top: -3px;
    font-size: 1.4rem;
    margin-right: 0.8rem;
    color: orange;
}

.notification span {
    word-break: break-all;
    width: calc(100% - 70px);
}

.notification .close {
    position: absolute;
    top: 0.8rem;
    right: 1rem;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    color: rgb(100, 100, 100);
    transition: color 0.3s;
}

.notification .close:hover {
    color: rgb(140, 140, 140);
}

.notification.not-displayed {
    display: none;
}