.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -1rem;
    padding-bottom: 10px;
    margin-bottom: 1rem;
}

.pagination button {

    margin: 10px 5px 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    padding: 5px 8px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;

}

.pagination button.active, .pagination button:hover {

    background-color: rgba(95, 158, 160, 0.8);

}